* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    display: flex; 
    height: 80px;
    background-color: #17242c;
    justify-content: center;
    align-items: center;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto ;
    padding: 0 50px;
} 

#navbar__logo {
    color: white;
    font-size: 3rem;
    font-style: italic;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
}


